#meus-filmes{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 1px 3px gray;

}

ul{
    padding: 0;

}

ul li{
    padding: 0;
    list-style: none;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

}

span{
    font-size: 23px;

}

button{
    margin-left: 10px;
    border: solid brown 2px;
    border-radius: 5px;
    color: brown;
    

}

ul li div a{
    text-decoration: none;
    color: brown;
    border: solid 2px brown;
    border-radius: 5px;
    background-color: #fff;


}